<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JP | *Page Not Found*</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
    <link href="static/css/jpStyle.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}" />

</head>
<body>

<div class="uk-card uk-padding-large">

    <h1 class="fofHead uk-padding-large uk-padding-remove-bottom">Not so fast!</h1>
    <p class="fofSub uk-padding-small">404 - PAGE NOT FOUND</p>
    <p class="fofDesc uk-padding-small uk-padding-remove-top">Seems as though the page you are looking for is broken or has been removed. Let's put you on the right track, though.</p>

    <div id="resume" class="uk-padding" align="center">
        <a href="/" class="fofButton" style="text-decoration: none; color: white;">GO BACK HOME</a>
    </div>

</div>


</body>
</html>